
<%= @PerfExps.collect(&:name).uniq %><br>
<%= @PerfExps.collect(&:grade_level).flatten.uniq %>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>code</th>
            <th>name</th>
            <th>descriptiondescriptiondescriptiondescription</th>
            <th>grade_level</th>
            <th>id</th>
            <th>standard.id standard.path: standard.description</th>
        </tr>
        <% @PerfExps.each do |pe| %>
            <tr>
                <td class="text-nowrap"><%= pe.code %></td>
                <td class="text-nowrap"><%= pe.name %></td>
                <td><%= pe.description %></td>
                <td><%= pe.grade_level*", " %></td>
                <td><%= pe.id %></td>
                <td class="text-nowrap">
                    <% pe.standards.each do |s| %>
                    <%= s.id.to_s + " " + s.path + ": " + s.description %><br>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
