<div class=".container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1 style="text-align: center">Cart</h1>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
            <p>Price</p>
        </div>
        <div class="col-md-4">
            <p>Quantity</p>
        </div>
    </div>
</div>-->
<% if user_signed_in? %>
<!-- Tiles -->
<section id="tile" class="bg-light-gray">
        <div class="container">
            <div class="row" style="text-align: right">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
            <p>Price</p>
        </div>
        <div class="col-md-2">
            <p>Quantity</p>
        </div>
    </div>
		<% current_user.projects.each do |project| %>
            <div class="row">
                <div class="col-md-2 col-sm-6 tile-item">
                    <a href=<%= project_path(project) %> class="tile-link" data-toggle="modal">
                        <div class="tile-hover">
                            <div class="tile-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src= <%= project.image %> class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href=<%= project_path(project) %>>
                        <h4><%= "#{project.title}" %></h4>
                    </a>
                </div>
                <div class="col-md-1" style="text-align: right">
                    <p3 name="cost">$<%=project.price%></p3>
                </div>
                <div class = "col-md-2" style="text-align: right">
                    <input onblur="findTotal()" class="hosted-field" type="text" style="color: black; text-align: right" value=1 size=3 name="qty">
                </div>
            </div>
				<% end %>
            <div class="row" style="text-align: right">
                <div class="col-md-2 col-md-offset-7">
                    <p>Total:</p>
                </div>
            </div>
            <div class="row" style="text-align: right">
                <div class="col-md-2 col-md-offset-7">
                    <input class="total" type="text" id="tot" value=0 style="color: black; text-align: right" size=10 readonly>
                </div>
            </div>
            <div class="row" style="text-align: right; padding-top: 10px">
                <div class="col-md-2 col-md-offset-7">
                    <%= button_to 'Checkout', purchases_checkout_path, :method => :get, :class => 'btn btn-primary'%>
                </div>
            </div>
        </div>
    </section>
<% end %>

<script>
    
    function findTotal(){
    var qtys = document.getElementsByName('qty');
    var costs = document.getElementsByName('cost');
    var tot=0;
    for(var i=0;i<qtys.length;i++){
        if(parseInt(qtys[i].value) && parseFloat(costs[i].innerHTML.substring(1)))
            tot += parseFloat(qtys[i].value) * parseFloat(costs[i].innerHTML.substring(1));
    }
    document.getElementById('tot').value = Math.round(tot*100)/100;
}
    
</script>