

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



</head>

<!--   <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
-->

<body id="page-top">

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <% @subjects.each do |subject| %>
                <div class="col-lg-4 col-sm-6">
                    <%=link_to projects_path(:subject => subject.id), :class => 'portfolio-box' do %>
                        <img src=<%=subject.image%> class="img-responsive" alt="">
						<div class="ghost-title" style = "background: <%= subject.color %>;"> <%= subject.name %> </div>
						<div class="portfolio-box-caption" style = "background: <%= subject.color %>"> 
						<div class="portfolio-box-caption-content" >
                                <div class="project-category text-faded">
                                    <%=subject.name%>
                                </div>
                                <div class="project-name">
                                    Explore Curriculum-Integrated Projects
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </section>

