  
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                       Project Explorer
                </li>
                <li>
								<center>
				<span style="font-size:24px;">
				Subject(s)
				<br><br>
				</span>
				</center>
				<span>
                    
                    <% @subjects.each do |sub| %>
                    
                    <%if defined?(@selected_subject)%>
                    <%if sub == @selected_subject%>
                    
                    <label for=<%=sub.name%> class="btn btn-info subfield" style="background: <%=sub.color%>; width:100%;text-align:right;"><%=sub.name%><input type="checkbox" checked id=<%=sub.name%> class="badgebox" value=<%=sub.id%>><span class="badge">&check;</span></label>
                    
                    <% else %>
                    
                    <label for=<%=sub.name%> class="btn btn-info subfield" style="background: <%=sub.color%>; width:100%;text-align:right;"><%=sub.name%><input type="checkbox" !checked id=<%=sub.name%> class="badgebox" value=<%=sub.id%>><span class="badge">&check;</span></label>
                    
                    <% end %>
                    <% else %>
                    
                    <label for=<%=sub.name%> class="btn btn-info subfield" style="background: <%=sub.color%>; width:100%;text-align:right;"><%=sub.name%><input type="checkbox" checked id=<%=sub.name%> class="badgebox" value=<%=sub.id%>><span class="badge">&check;</span></label>
                    <% end %>
                    <% end %>
                    <!--
                    <label for="default" class="btn btn-info" style="background: rgba(34,85,170, 0.8); width:100%;text-align:right;">Space & Physics <input type="checkbox" id="default" class="badgebox"><span class="badge">&check;</span></label>
                    
                    <label for="primary" class="btn btn-info" style="background: rgba(235,56,18,0.8); width:100%;text-align:right;">Robotics & Comp. Science <input type="checkbox" id="primary" class="badgebox"><span class="badge">&check;</span></label>
                    
                    <label for="info" class="btn btn-info" style="background: rgba(34,211,214, 0.8); width:100%;text-align:right;">Engineering & Design <input type="checkbox" id="info" class="badgebox"><span class="badge">&check;</span></label>
                    
                    <label for="success" class="btn btn-info" style="background: rgba(237,140,28,0.8); width:100%;text-align:right;">Earth Science <input type="checkbox" id="success" class="badgebox"><span class="badge">&check;</span></label>
                    
                    <label for="warning" class="btn btn-info" style="background: rgba(23,122,43, 0.8); width:100%;text-align:right;">Life Science <input type="checkbox" id="warning" class="badgebox"><span class="badge">&check;</span></label>
                    
                    <label for="danger" class="btn btn-info" style="background: rgba(108,18,163, 0.8); width:100%;text-align:right;">Chemistry <input type="checkbox" id="danger" class="badgebox"><span class="badge">&check;</span></label>
                    -->
				</span>
                
				
                </li>
                <li>
				<center>
				<span style="font-size:24px;">
				Grade Level
				</span>
				<br><br>
				<span style="background:transparent;">
				<%= text_field_tag "ex2", nil, type: 'text',class:'input-large',
                 data: {'slider-id' => 'ex1Slider',
                        'slider-min' => '0',
                        'slider-max' => '12',
                        'slider-step' => '1',
                        'slider-value' => '[0,12]' }%>
				</span>
				</center>

				</li>
                <li>
                    <a href="#">Select NGSS Standards</a>
                </li>
                <li>
                    <a href="#">Duration Slider</a>
                </li>

                <li>
                    <a href="#">Price Slider</a>
                </li>
                <li>
                    <a href="#">Reusable Checkbox</a>
                </li>
                <li>
                    <%= submit_tag "Search", :class => "btn btn-primary" ,:style => "width:100%;"%>
                </li>
<!-- 				 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li -->
            </ul>
        </nav>