<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Listing Projects</h1>


<div class=".container">    
    <div class="row">
        <% @projects.each do |project| %>
            <div class="col-md-6" style="border: 1px dashed black; border-radius: 7px;text-align: center">
                <h2><%= link_to "#{project.title}", project %></h2> <br>
                <%= link_to 'Edit', edit_project_path(project) %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        <% end %>
    </div>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'New Project', new_project_path %></button>
