<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Listing Projects</h1>


<div class=".container">    
    <div class="row">
        <% @projects.each do |project| %>
        <div class="col-sm-6 col-md-offset-1" style="border: 1px solid white; border-radius: 7px">
            <div class="row">
                <div class="col-sm-4">
                    <img src = "/img/portfolio/thumbnails/SlayerCircuit.jpg" style="width: 100%;max-width: 400px;margin:5px;">
                </div>
                <div class="col-sm-6">
                    <h2 style="text-align: center"><%= link_to "#{project.title}", project %></h2> <br>
                    <p><%=project.summary%></p>
                    <!--<%= link_to 'Edit', edit_project_path(project) %>-->
                    <!--<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'New Project', new_project_path %></button>
