<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiagonAlley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
  
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Diagon Alley', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>
    </div>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

      <%= yield %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

  </body>
    
</html>

<style>
    .icon-size {
        font-size:15px;
    }
    .shoppingBadge-custom{
background: red;
position:absolute;
left:25px;
top:20px;
font-size:10px;

 }
</style>
